@import '_theme.scss';

.gallery {
  margin: 0 auto;

  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .main-title{
      font-size: var(--text-size-h2);
      color: var(--text-color-heading);

      &.scrollable-title {
        font-size: var(--text-size-h3);
      }
    }

    .see-all {
      color: var(--color-highlight);
      font-size: var(--text-size-regular);
      cursor: pointer;
      white-space: nowrap;

      &:hover {
        text-decoration: underline;
      }
      
      @media (min-width: $md) {
        display: block;
        margin-top: 10px;
      }

      @media (max-width: $md) {
        display: none;
      }
    }
  }

  .main > * {
    flex-basis: var(--flex-basis);
  }
  
  .main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    margin-top: 30px;

  }

  .bottom > .button-secondary {

      @media (min-width: $md) {
        display: none;
      }

      @media (max-width: $md) {
        display: block;
        width: 100%;
      }
  }



  // @media (min-width: $xl) {
  //   --flex-basis: 24%;
 
  //   .main > *{
  //     margin-bottom: 15px;
  //     height: auto;
  //   }
    
  //   .bottom {
  //     padding: 0px 10px;
  //   }
  // }
  
  @media (min-width: $lg) {
    --flex-basis: 24%;
    
    .main > *{
      margin-bottom: 15px;
      height: auto; 
    
    }
    
    .bottom {
      //padding: 0px 10px;
    }

  }
  
  @media (min-width: $md) and (max-width: $lg) {
    --flex-basis: 32%;

    .main > *{
      margin-bottom: 15px;
      height: auto;
    }
    
    .bottom {
      padding: 0px 10px;
    }
  }
  
  @media (max-width: $md) {
    --flex-basis: 49%;

    .main > *{
      margin-bottom: 15px;
      height: auto;
    }

    .bottom {
      padding: 0px 10px;
    }
  }
  
  // @media (min-width: $xs) and (max-width: $sm) {
  //   --flex-basis: 50%;
    
  //   .main > *{
  //     margin-bottom: 15px;
  //     height: auto;
  //   }
    
  //   .bottom {
  //     padding: 0px 5px;
  //   }
  // }
  
  // @media (max-width: $xs) {
  //   --flex-basis: 50%;
    
  //   .main > *{
  //     margin-bottom: 15px;
  //     height: auto;
  //   }

  // }
}
